<nav class="navbar sticky-top background-white drop-shadow nav navbar-light navbar-expand  mr-4 ml-4">
  <a class="navbar-brand title" routerLink="apparel_top_100/reports/0/2020">Apparel 100</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-link" routerLink="apparel_top_100/about">About</a>
      <a class="nav-link" href="#">Share <i class="bi bi-arrow-up-right"></i></a>
    </div>
  </div>
  <div class="navbar-collapse collapse">
    <div class="form-inline ml-auto m-2">
      <div class="input-group" [class.highlight]="exploreMore">
        <input id="dropdownMenuButton" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false" class="form-control" type="text" [(ngModel)]="searchText"
               placeholder="Search for Company"
               aria-label="Search"
               #search_text/>
        <div class="input-group-append">
          <button class="btn btn-outline-dark" type="submit"><i class="bi bi-search"></i>
          </button>
        </div>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <!-- results of ngFor is passed to appFilter with argument searchText -->
          <a class="dropdown-item" *ngFor="let c of apparelTop100 | companyFilter: searchText" textHighlight
             [id]="c.id"
             [searchedWord]="searchText"
             [content]="c.name"
             [classToApply]="'font-weight-bold'"
             [setTitle]="true"
             (click)="setValue(c);navigateToCompany(c);"
          >
            {{c.name}}
          </a>
        </div>
      </div>
    </div>
    <div class="m-2">
      <select class="form-control" [class.highlight]="exploreMore" [(ngModel)]="report_params.year"
              (change)="navigateToYear($event)">
        <option value="latest" selected>latest</option>
        <option value="2020">2020</option>
        <option value="2019">2019</option>
        <option value="2018">2018</option>
      </select>
    </div>
  </div>
</nav>

