<div class="wikirate-creme-purple-box">
  <div class="wikirate-container">
    <div class="row text-center">
      <div class="col-12">
        <div class="row justify-content-center mb-3">
          <div class="tiny-text">Powered
            by
          </div>
        </div>
        <div class="row justify-content-center">
          <a href="https://wikirate.org" target="_blank"><img  src="assets/Wikirate%20Logo.svg"></a>
        </div>
        <div class="row justify-content-center">
          <div class="col-sm-7 mini-text mt-3 justify-content-center">
            WikiRate is
            an open data platform that brings corporate ESG data together in one place, making it accessible,
            comparable, and free for all.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="wikirate-navy-box">
  <div class="footer-container">
    <div class="row">
      <div class="col-11">
        <div class="note mt-3 text-light-white mb-3">
          Copyright © 2021 Wikirate.org All rights reserved
        </div>
      </div>
<!--      <nav class="col-3 navbar drop-shadow nav navbar-light navbar-expand">-->
<!--        <div class="navbar-nav">-->
<!--          <a class="nav-link text-light-white" routerLink="apparel_top_100/reports/0/latest">Home</a>-->
<!--          <a class="nav-link text-light-white" routerLink="apparel_top_100/about">About</a>-->
<!--          <div class="dropup">-->
<!--            <a class="nav-link text-light-white" type="button" id="share-footer" data-toggle="dropdown" aria-expanded="false">-->
<!--              Share <i class="bi bi-arrow-up-right"></i>-->
<!--            </a>-->
<!--            <div class="dropdown-menu" aria-labelledby="share-footer">-->
<!--              <a class="dropdown-item" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https://showcase.wikirate.org/"><i class="bi bi-facebook ml-2 mr-2"></i>facebook</a>-->
<!--              <a class="dropdown-item" target="_blank" href="https://twitter.com/intent/tweet?url=https://showcase.wikirate.org/&text="><i class="bi bi-twitter ml-2 mr-2"></i>twitter</a>-->
<!--              <a class="dropdown-item" target="_blank" href="https://www.linkedin.com/shareArticle?mini=true&url=https://showcase.wikirate.org/"><i class="bi bi-linkedin ml-2 mr-2"></i>linkedin</a>-->
<!--              <a class="dropdown-item" target="_blank" href="mailto:info@example.com?&subject=&cc=&bcc=&body=https://showcase.wikirate.org/%0A"><i class="bi bi-envelope-fill ml-2 mr-2"></i>mail</a>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </nav>-->
    </div>
  </div>
</div>
