<div class="wikirate-creme-purple-box">
  <div class="container">
    <div class="row text-center">
      <div class="col-12">
        <div class="row justify-content-center mb-3">
          <div class="tiny-text font-weight-bold">Powered
            by
          </div>
        </div>
        <div class="row justify-content-center">
          <img class="col-2" src="assets/Wikirate%20Logo.svg"/>
        </div>
        <div class="row justify-content-center">
          <div class="col-sm-7 mini-text mt-3 justify-content-center">
            <a class="link-primary" href="https://wikirate.org">WikiRate.org</a> is
            an open data platform that brings corporate ESG data together in one place, making it accessible,
            comparable, and free for all.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="wikirate-purple-box">
  <div class="footer-container">
    <div class="row">
      <div class="col-9">
        <div class="note mt-3 text-light-white">
          Copyright © 2021 Wikirate.org All rights reserved
        </div>
      </div>
      <nav class="col-3 navbar drop-shadow nav navbar-light navbar-expand">
        <div class="navbar-nav">
          <a class="nav-link text-light-white" href="#">Home</a>
          <a class="nav-link text-light-white" href="#">About</a>
          <a class="nav-link text-light-white" href="#">Share <i class="bi bi-arrow-up-right"></i></a>
        </div>
      </nav>
    </div>
  </div>
</div>
