<div class="wikirate-creme-purple-box">
  <div class="container">
    <div class="row text-center">
      <div class="col-12 mt-5">
        <div class="row justify-content-center mb-3">
          <div class="tiny-text font-weight-bold">Powered
            by
          </div>
        </div>
        <div class="row justify-content-center">
          <img class="col-2" src="assets/Wikirate%20Logo.svg"/>
        </div>
        <div class="row justify-content-center">
          <div class="col-sm-7 mini-text mt-3 justify-content-center"><a class="link-primary"
                                                                         href="https://wikirate.org">WikiRate.org</a> is
            an open
            data platform that
            brings corporate ESG data together in
            one
            place, making it
            accessible, comparable, and free for all.
          </div>
        </div>
        <div class="note text-center mt-5">
          Copyright © 2020 Wikirate.org
          <br>All rights reserved
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-8">

      </div>
      <div class="col-4 d-flex justify-content-end align-items-end">
        <nav class="navbar drop-shadow nav navbar-light navbar-expand">
          <div class="navbar-nav">
            <a class="nav-link" href="#">Home</a>
            <a class="nav-link" href="#">About</a>
            <a class="nav-link" href="#">Share <i class="bi bi-arrow-up-right"></i></a>
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>
