.tiny-text {
  font-size: 11px;
  color: #747485;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.nopadding {
  padding: 0 !important;
}

.text-light-white{
  color: #F7F7F8 !important;
}
