<div class="wikirate-creme-box">
  <div class="wikirate-container">
    <div class="row">
      <div class="col mt-2 text-center">
        <div class="mini-title text-center">
          Who made Apparel 100 and why?
        </div>
        <div class="showcase-main-text mt-3">
          <p>Apparel 100 was made by WikiRate to showcase supply chain transparency and ESG data in an engaging and
            accessible way. These maps and infographics create a sector snapshot that tells a story the world deserves to know.

          </p>
          <p>
            This showcase came together with the support of the WikiRate community.
          </p>
        </div>
        <div class="row mt-4">
          <div class="col-4 text-center mb-4">
            <div class="primary-info-navy">335</div>
            <div class="secondary-info-navy mt-1">RESEARCHERS</div>
          </div>
          <div class="col-4 text-center">
            <div class="primary-info-navy">10</div>
            <div class="secondary-info-navy mt-1">UNIVERSITIES</div>
          </div>
          <div class="col-4 text-center">
            <div class="primary-info-navy">17</div>
            <div class="secondary-info-navy mt-1">NGOs</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="wikirate-navy-box">
  <div class="wikirate-container">
    <div class="row">
      <div class="col-md-8">
        <h2 class="showcase-title text-white mt-2 mb-2">Create your own open data showcase
        </h2>
        <div class="showcase-main-text-white">
          <p>With our flexible data infrastructure and committed community we have created an open data ecosystem that you can be part of.
          </p>
        </div>
      </div>
      <div class="col-md-4 vertical-center justify-content-center">
        <button class="btn btn-highlight pr-4 pl-4 mt-2"
                onclick="window.open('https://forms.gle/8ru3Wh8QMoJ8NZ8Y7','_blank')">
          Contact Us
        </button>
      </div>
    </div>
  </div>
</div>
<div class="wikirate-box">
  <div class="wikirate-container">
    <p class="mini-title text-center mt-4">
      The research in numbers
    </p>
    <div class="row mt-5  mb-4">
      <div class="col-4 text-center">
        <div class="primary-info-navy">31K+</div>
        <div class="secondary-info-navy">DATA POINTS</div>
      </div>
      <div class="col-4 text-center">
        <div class="primary-info-navy">171</div>
        <div class="secondary-info-navy">METRICS</div>
      </div>
      <div class="col-4 text-center">
        <div class="primary-info-navy">30K+</div>
        <div class="secondary-info-navy">CORPORATE RELATIONSHIPS</div>
      </div>
    </div>
  </div>
</div>
<div class="wikirate-creme-box">
  <div class=" wikirate-container">
    <div id="quotes" class="carousel slide" data-ride="carousel">
      <!-- The slides to show -->
      <div class="carousel-inner">
        <div class="carousel-item mt-4 mb-4 active">
          <div class="row justify-content-center">
            <div class="col-9">
              <div class="row justify-content-center">
                <div class="image-box col-3 vertical-center justify-content-center d-none d-md-inline-flex">
                  <img src="https://dq06ugkuram52.cloudfront.net/files/3765463/22301376-medium.jpg"/>
                </div>
                <div class="col-md-8">
                  <div class="showcase-main-text font-italic">"We believe in collaborating to improve the fashion
                    industry
                    and are delighted to be continuing our partnership with WikiRate into 2022. Using the WikiRate
                    platform to host FTI research has made our work more accessible and impactful across a range of
                    stakeholders who use our data to enable their activism and research."
                  </div>
                  <div class="note mt-3">
                    <b>
                      Fashion Revolution
                    </b>
                  </div>
                  <div class="note"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item mt-4 mb-4">
          <div class="row justify-content-center">
            <div class="col-9">
              <div class="row">
                <div class="image-box col-3 vertical-center justify-content-center d-none d-md-inline-flex">
                  <img src="https://dq06ugkuram52.cloudfront.net/files/564260/12604027-medium.png"/>
                </div>
                <div class="col-md-8">
                  <div class="showcase-main-text font-italic">"WikiRate has proven an invaluable partner for our
                    Fashion
                    Checker campaign. The platform’s sophisticated functionalities and open data approach has given
                    us the
                    flexibility we needed to bring our data to the public so that it can be used by advocates to
                    create
                    real change."
                  </div>
                  <div class="note mt-3">
                    <b>
                      Anne Bienias
                    </b>
                  </div>
                  <div class="note">Clean Clothes Campaign</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item mt-4 mb-4">
          <div class="row justify-content-center">
            <div class="col-9">
              <div class="row">
                <div class="image-box col-3 vertical-center justify-content-center d-none d-md-inline-flex">
                  <img src="https://dq06ugkuram52.cloudfront.net/files/5467212/20834915-medium.jpg"/>
                </div>
                <div class="col-md-8">
                  <div class="showcase-main-text font-italic">"This collaborative project was a great opportunity to
                    further develop our research skills which in turn allowed us to be more critical and analytical
                    of
                    fashion labels. Working with WikiRate made us understand the importance of finding the right and
                    accurate information that backs up or contradicts the image that a fashion label is trying to
                    portray"
                  </div>
                  <div class="note mt-3">
                    <b>
                      Student of Akademie Mode & Design (AMD) Berlin
                    </b>
                  </div>
                  <div class="note"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item mt-4 mb-4">
          <div class="row justify-content-center">
            <div class="col-9">
              <div class="row">
                <div class="col-3 image-box vertical-center justify-content-center d-none d-md-inline-flex">
                  <img src="https://dq06ugkuram52.cloudfront.net/files/2549498/12602498-medium.png"/>
                </div>
                <div class="col-md-8">
                  <div class="showcase-main-text font-italic">"WikiRate provides the opportunity for students to get
                    a
                    real-life experience with CSR, which helps develop their social awareness, problem-solving and
                    critical thinking skills"
                  </div>
                  <div class="note mt-3">
                    <b>
                      Dr. Stephanie Perkiss
                    </b>
                  </div>
                  <div class="note">University of Wollongong, Australia</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item mt-4 mb-4">
          <div class="row justify-content-center">
            <div class="col-9">
              <div class="row">
                <div class="image-box col-3 vertical-center justify-content-center d-none d-md-inline-flex">
                  <img src="https://dq06ugkuram52.cloudfront.net/files/1831839/12602420-medium.png"/>
                </div>
                <div class="col-md-8">
                  <div class="showcase-main-text font-italic">"We've worked with the WikiRate for the last five
                    years to
                    scale our research on modern slavery. The WikiRate team maintains our methodology on their
                    platform
                    and each year coordinates hundreds of university students to contribute new data for analysis
                    that we
                    use to improve legislation to end modern slavery."
                  </div>
                  <div class="note mt-3">
                    <b>
                      Katharine Bryant
                    </b>
                  </div>
                  <div class="note">Walk Free Initiative</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--  Controls (Left and right) -->
      <a class="carousel-control-prev mt-4 mr-4" role="button" data-slide="prev" href="#quotes">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next mt-4 mr-4" role="button" data-slide="next" href="#quotes">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>
<div class="wikirate-box wikirate-container d-none d-md-block">
  <div id="partners-logos" class="carousel slide" data-ride="carousel">
    <!-- The slides to show -->
    <div class="container mt-4 mb-4">
      <div class="section">
        <div class="row">
          <div class="col-lg-12 p-3">
            <h3 class="mb-3">Research Contributors</h3>
            <p>This research was performed with the contribution of the following organisations</p>
            <div class="slider mt-3">
              <div class="slide-track">
                <div class="slide" *ngFor="let contributor of contributors let i = index">
                  <div class="row col-12 justify-content-center">
                    <div class="image-box d-flex justify-content-center align-items-center m-2">
                      <img src="{{contributor.logo}}"
                           alt="{{contributor.contributor}}"/>
                    </div>
                    <div class="contributor-name m3 text-center">
                      {{contributor.contributor}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

