<div class="wikirate-creme-box">
  <div class="wikirate-container">
    <div class="row">
      <div class="col mt-2 text-center">
        <div class="mini-title text-center">
          Who made Apparel 100 and why?
        </div>
        <div class="showcase-main-text mt-3">
          <p>Apparel 100 was made by WikiRate to showcase supply chain transparency and ESG data in an engaging and
            accessible way. These maps and infographics create a sector snapshot of supply chain and ESG data
            transparency.

          </p>
          <p>
            This showcase came together with the support of the WikiRate community.
          </p>
        </div>
        <div class="row mt-4">
          <div class="col-4 text-center mb-4">
            <div class="primary-info-navy">335</div>
            <div class="secondary-info-navy mt-1">RESEARCHERS</div>
          </div>
          <div class="col-4 text-center">
            <div class="primary-info-navy">10</div>
            <div class="secondary-info-navy mt-1">UNIVERSITIES</div>
          </div>
          <div class="col-4 text-center">
            <div class="primary-info-navy">17</div>
            <div class="secondary-info-navy mt-1">NGOs</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="wikirate-navy-box">
  <div class="wikirate-container">
    <div class="row">
      <div class="col-md-8">
        <h2 class="showcase-title text-white mt-2 mb-2">Create your own open data showcase
        </h2>
        <div class="showcase-main-text-white">
          <p>With our flexible data infrastructure and committed community we have created an open data ecosystem that you can be part of.
          </p>
        </div>
      </div>
      <div class="col-md-4 vertical-center justify-content-center">
        <button class="btn btn-highlight pr-4 pl-4 mt-2"
                onclick="window.open('https://forms.gle/8ru3Wh8QMoJ8NZ8Y7','_blank')">
          Contact Us
        </button>
      </div>
    </div>
  </div>
</div>
<div class="wikirate-box">
  <div class="wikirate-container">
    <p class="mini-title text-center mt-4">
      The research in numbers:
    </p>
    <div class="row mt-5  mb-4">
      <div class="col-4 text-center">
        <div class="primary-info-navy">31K+</div>
        <div class="secondary-info-navy">DATA POINTS</div>
      </div>
      <div class="col-4 text-center">
        <div class="primary-info-navy">171</div>
        <div class="secondary-info-navy">METRICS</div>
      </div>
      <div class="col-4 text-center">
        <div class="primary-info-navy">30K+</div>
        <div class="secondary-info-navy">CORPORATE RELATIONSHIPS</div>
      </div>
    </div>
  </div>
</div>
<div class="wikirate-creme-box">
  <div class=" wikirate-container">
    <div id="quotes" class="carousel slide" data-ride="carousel">
      <!-- The slides to show -->
      <div class="carousel-inner">
        <div class="carousel-item mt-4 mb-4 active">
          <div class="row justify-content-center">
            <div class="col-9">
              <div class="row justify-content-center">
                <div class="image-box col-3 vertical-center justify-content-center d-none d-md-inline-flex">
                  <img src="https://dq06ugkuram52.cloudfront.net/files/3765463/22301376-medium.jpg"/>
                </div>
                <div class="col-md-8">
                  <div class="showcase-main-text font-italic">"We believe in collaborating to improve the fashion
                    industry
                    and are delighted to be continuing our partnership with WikiRate into 2022. Using the WikiRate
                    platform to host FTI research has made our work more accessible and impactful across a range of
                    stakeholders who use our data to enable their activism and research."
                  </div>
                  <div class="note mt-3">
                    <b>
                      Fashion Revolution
                    </b>
                  </div>
                  <div class="note"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item mt-4 mb-4">
          <div class="row justify-content-center">
            <div class="col-9">
              <div class="row">
                <div class="image-box col-3 vertical-center justify-content-center d-none d-md-inline-flex">
                  <img src="https://dq06ugkuram52.cloudfront.net/files/564260/12604027-medium.png"/>
                </div>
                <div class="col-md-8">
                  <div class="showcase-main-text font-italic">"WikiRate has proven an invaluable partner for our
                    Fashion
                    Checker campaign. The platform’s sophisticated functionalities and open data approach has given
                    us the
                    flexibility we needed to bring our data to the public so that it can be used by advocates to
                    create
                    real change."
                  </div>
                  <div class="note mt-3">
                    <b>
                      Anne Bienias
                    </b>
                  </div>
                  <div class="note">Clean Clothes Campaign</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item mt-4 mb-4">
          <div class="row justify-content-center">
            <div class="col-9">
              <div class="row">
                <div class="image-box col-3 vertical-center justify-content-center d-none d-md-inline-flex">
                  <img src="https://dq06ugkuram52.cloudfront.net/files/5467212/20834915-medium.jpg"/>
                </div>
                <div class="col-md-8">
                  <div class="showcase-main-text font-italic">"This collaborative project was a great opportunity to
                    further develop our research skills which in turn allowed us to be more critical and analytical
                    of
                    fashion labels. Working with WikiRate made us understand the importance of finding the right and
                    accurate information that backs up or contradicts the image that a fashion label is trying to
                    portray"
                  </div>
                  <div class="note mt-3">
                    <b>
                      Student of Akademie Mode & Design (AMD) Berlin
                    </b>
                  </div>
                  <div class="note"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item mt-4 mb-4">
          <div class="row justify-content-center">
            <div class="col-9">
              <div class="row">
                <div class="col-3 image-box vertical-center justify-content-center d-none d-md-inline-flex">
                  <img src="https://dq06ugkuram52.cloudfront.net/files/2549498/12602498-medium.png"/>
                </div>
                <div class="col-md-8">
                  <div class="showcase-main-text font-italic">"WikiRate provides the opportunity for students to get
                    a
                    real-life experience with CSR, which helps develop their social awareness, problem-solving and
                    critical thinking skills"
                  </div>
                  <div class="note mt-3">
                    <b>
                      Dr. Stephanie Perkiss
                    </b>
                  </div>
                  <div class="note">University of Wollongong, Australia</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item mt-4 mb-4">
          <div class="row justify-content-center">
            <div class="col-9">
              <div class="row">
                <div class="image-box col-3 vertical-center justify-content-center d-none d-md-inline-flex">
                  <img src="https://dq06ugkuram52.cloudfront.net/files/1831839/12602420-medium.png"/>
                </div>
                <div class="col-md-8">
                  <div class="showcase-main-text font-italic">"We've worked with the WikiRate for the last five
                    years to
                    scale our research on modern slavery. The WikiRate team maintains our methodology on their
                    platform
                    and each year coordinates hundreds of university students to contribute new data for analysis
                    that we
                    use to improve legislation to end modern slavery."
                  </div>
                  <div class="note mt-3">
                    <b>
                      Katharine Bryant
                    </b>
                  </div>
                  <div class="note">Walk Free Initiative</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--  Controls (Left and right) -->
      <a class="carousel-control-prev mt-4 mr-4" role="button" data-slide="prev" href="#quotes">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next mt-4 mr-4" role="button" data-slide="next" href="#quotes">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>
<div class="wikirate-box wikirate-container d-none d-md-block">
  <p class="mini-title text-center mb-5">
    Analysis made possible by data and metrics from the following organizations:
  </p>
  <div id="partners-logos" class="carousel slide" data-ride="carousel">
    <!-- The slides to show -->
    <div class="carousel-inner-logos">
      <div class="carousel-item mt-4 mb-4 active">
        <div class="row justify-content-center">
          <div class="col-9">
            <div class="row justify-content-center">
              <div class="row col-4">
                <div class="image-box col-11 d-flex justify-content-center align-items-center m-2">
                  <img src="https://dq06ugkuram52.cloudfront.net/files/3765463/22301376-medium.jpg"/>
                </div>
                <div class="col-11 tiny-text-nany text-center m-2 mt-1">
                  <p>Fashion Revolution</p>
                </div>
              </div>
              <div class="row col-4">
                <div class="image-box col-11 d-flex justify-content-center align-items-md-center m-2">
                  <img src="https://dq06ugkuram52.cloudfront.net/files/5661929/21257596-medium.jpg"/>
                </div>
                <div class="col-11 tiny-text-nany text-center m-2 mt-1">
                  <p>Open Apparel Registry</p>
                </div>
              </div>
              <div class="row col-4">
                <div class="image-box col-11 d-flex justify-content-center align-items-md-center m-2">
                  <img src="https://dq06ugkuram52.cloudfront.net/files/5467212/20834915-medium.jpg"/>
                </div>
                <div class="col-11 tiny-text-nany text-center m-2 mt-1">
                  <p>AMD Akademie Mode & Design Berlin</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item mt-4 mb-4">
        <div class="row justify-content-center">
          <div class="col-9">
            <div class="row justify-content-center">
              <div class="row col-4">
                <div class="image-box col-11 d-flex justify-content-center align-items-md-center m-2">
                  <img src="https://dq06ugkuram52.cloudfront.net/files/1831839/12602420-medium.png"/>
                </div>
                <div class="col-11 tiny-text-nany text-center m-2 mt-1">
                  <p>Walk Free Initiative</p>
                </div>
              </div>
              <div class="row col-4">
                <div class="image-box col-11 d-flex justify-content-center align-items-md-center m-2">
                  <img class="contributor" src="https://dq06ugkuram52.cloudfront.net/files/564260/12604027-medium.png"/>
                </div>
                <div class="col-11 tiny-text-nany text-center m-2 mt-1">
                  <p>Clean Clothes Campaign</p>
                </div>
              </div>
              <div class="row col-4">
                <div class="image-box col-11 d-flex justify-content-center align-items-md-center m-2">
                  <img src="https://dq06ugkuram52.cloudfront.net/files/8104623/26042255-medium.png"/>
                </div>
                <div class="col-11 tiny-text-nany text-center m-2 mt-1">
                  <p>Columbia University SIPA</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item mt-4 mb-4">
        <div class="row justify-content-center">
          <div class="col-9">
            <div class="row justify-content-center">
              <div class="row col-4">
                <div class="image-box col-11 d-flex justify-content-center align-items-md-center m-2">
                  <img src="https://dq06ugkuram52.cloudfront.net/files/2549498/12602498-medium.png"/>
                </div>
                <div class="col-11 tiny-text-nany text-center m-2 mt-1">
                  <p>University of Wollongong</p>
                </div>
              </div>
              <div class="row col-4">
                <div class="image-box col-11 d-flex justify-content-center align-items-md-center m-2">
                  <img class="contributor"
                       src="https://dq06ugkuram52.cloudfront.net/files/2381047/12602618-medium.png"/>
                </div>
                <div class="col-11 tiny-text-nany text-center m-2 mt-1">
                  <p>Glasgow Caledonian University</p>
                </div>
              </div>
              <div class="row col-4">
                <div class="image-box col-11 d-flex justify-content-center align-items-md-center m-2">
                  <img src="https://dq06ugkuram52.cloudfront.net/files/3700624/14894897-medium.png"/>
                </div>
                <div class="col-11 tiny-text-nany text-center m-2 mt-1">
                  <p>Nottingham Trent University</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item mt-4 mb-4">
        <div class="row justify-content-center">
          <div class="col-9">
            <div class="row justify-content-center">
              <div class="row col-4">
                <div class="image-box col-11 d-flex justify-content-center align-items-md-center m-2">
                  <img src="https://dq06ugkuram52.cloudfront.net/files/2593569/15069279-medium.png"/>
                </div>
                <div class="col-11 tiny-text-nany text-center m-2 mt-1">
                  <p>Universidad EAFIT</p>
                </div>
              </div>
              <div class="row col-4">
                <div class="image-box col-11 d-flex justify-content-center align-items-md-center m-2">
                  <img src="https://dq06ugkuram52.cloudfront.net/files/2718582/12716390-medium.jpeg"/>
                </div>
                <div class="col-11 tiny-text-nany text-center m-2 mt-1">
                  <p>Ewha Womans University</p>
                </div>
              </div>
              <div class="row col-4">
                <div class="image-box col-11 d-flex justify-content-center align-items-md-center m-2">
                  <img src="https://dq06ugkuram52.cloudfront.net/files/2877060/13099154-medium.png"/>
                </div>
                <div class="col-11 tiny-text-nany text-center m-2 mt-1">
                  <p>University of Connecticut</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item mt-4 mb-4">
        <div class="row justify-content-center">
          <div class="col-9">
            <div class="row justify-content-center">
              <div class="row col-4">
                <div class="image-box col-11 d-flex justify-content-center align-items-md-center m-2">
                  <img src="https://dq06ugkuram52.cloudfront.net/files/5295432/20444349-medium.png"/>
                </div>
                <div class="col-11 tiny-text-nany text-center m-2 mt-1">
                  <p>Australian National University</p>
                </div>
              </div>
              <div class="row col-4">
                <div class="image-box col-11 d-flex justify-content-center align-items-md-center m-2">
                  <img src="https://dq06ugkuram52.cloudfront.net/files/3149947/13561221-medium.png"/>
                </div>
                <div class="col-11 tiny-text-nany text-center m-2 mt-1">
                  <p>University of Nottingham</p>
                </div>
              </div>
              <div class="row col-4">
                <div class="image-box col-11 d-flex justify-content-center align-items-md-center m-2">
                  <img src="https://dq06ugkuram52.cloudfront.net/files/801180/12603989-medium.jpg"/>
                </div>
                <div class="col-11 tiny-text-nany text-center m-2 mt-1">
                  <p>Global Reporting Initiative</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item mt-4 mb-4">
        <div class="row justify-content-center">
          <div class="col-9">
            <div class="row justify-content-center">
              <div class="row col-4">
                <div class="image-box col-11 d-flex justify-content-center align-items-md-center m-2">
                  <img src="https://dq06ugkuram52.cloudfront.net/files/5405942/20706304-medium.png"/>
                </div>
                <div class="col-11 tiny-text-nany text-center m-2 mt-1">
                  <p>Ellen MacArthur Foundation</p>
                </div>
              </div>
              <div class="row col-4">
                <div class="image-box col-11 d-flex justify-content-center align-items-md-center m-2">
                  <img src="https://dq06ugkuram52.cloudfront.net/files/5406497/20709161-medium.jpg"/>
                </div>
                <div class="col-11 tiny-text-nany text-center m-2 mt-1">
                  <p>Textile Exchange</p>
                </div>
              </div>
              <div class="row col-4">
                <div class="image-box col-11 d-flex justify-content-center align-items-md-center m-2">
                  <img src="../../assets/SBTI-logo.jpg"/>
                </div>
                <div class="col-11 tiny-text-nany text-center m-2 mt-1">
                  <p>Science Based Targets Initiative</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item mt-4 mb-4">
        <div class="row justify-content-center">
          <div class="col-9">
            <div class="row justify-content-center">
              <div class="row col-4">
                <div class="image-box col-11 d-flex justify-content-center align-items-md-center m-2">
                  <img src="https://dq06ugkuram52.cloudfront.net/files/1828145/12602552-medium.png"/>
                </div>
                <div class="col-11 tiny-text-nany text-center m-2 mt-1">
                  <p>Poverty Footprint</p>
                </div>
              </div>
              <div class="row col-4">
                <div class="image-box col-11 d-flex justify-content-center align-items-md-center m-2">
                  <img src="../../assets/BHRRC-logo.png"/>
                </div>
                <div class="col-11 tiny-text-nany text-center m-2 mt-1">
                  <p>Business & Human Rights Resource Center</p>
                </div>
              </div>
              <div class="row col-4">
                <div class="image-box col-11 d-flex justify-content-center align-items-md-center m-2">
                  <img src="https://dq06ugkuram52.cloudfront.net/files/5663399/21715396-medium.jpeg"/>
                </div>
                <div class="col-11 tiny-text-nany text-center m-2 mt-1">
                  <p>As You Sow</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item mt-4 mb-4">
        <div class="row justify-content-center">
          <div class="col-9">
            <div class="row justify-content-center">
              <div class="row col-4">
                <div class="image-box col-11 d-flex justify-content-center align-items-md-center m-2">
                  <img src="https://dq06ugkuram52.cloudfront.net/files/5340655/20553116-medium.jpg"/>
                </div>
                <div class="col-11 tiny-text-nany text-center m-2 mt-1">
                  <p>Responsible Sourcing Network</p>
                </div>
              </div>
              <div class="row col-4">
                <div class="image-box col-11 d-flex justify-content-center align-items-md-center m-2">
                  <img src="https://dq06ugkuram52.cloudfront.net/files/5424763/20734161-medium.png"/>
                </div>
                <div class="col-11 tiny-text-nany text-center m-2 mt-1">
                  <p>Accord on Fire and Building Safety in Bangladesh</p>
                </div>
              </div>
              <div class="row col-4">
                <div class="image-box col-11 d-flex justify-content-center align-items-md-center m-2">
                  <img src="https://dq06ugkuram52.cloudfront.net/files/168320/20704071-medium.jpeg"/>
                </div>
                <div class="col-11 tiny-text-nany text-center m-2 mt-1">
                  <p>Ethical Trading Initiative</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item mt-4 mb-4">
        <div class="row justify-content-center">
          <div class="col-9">
            <div class="row justify-content-center">
              <div class="row col-4">
                <div class="image-box col-11 d-flex justify-content-center align-items-md-center m-2">
                  <img src="https://dq06ugkuram52.cloudfront.net/files/61327/12604154-medium.gif"/>
                </div>
                <div class="col-11 tiny-text-nany text-center m-2 mt-1">
                  <p>Fair Labor Association</p>
                </div>
              </div>
              <div class="row col-4">
                <div class="image-box col-11 d-flex justify-content-center align-items-md-center m-2">
                  <img src="https://dq06ugkuram52.cloudfront.net/files/5417974/20726868-medium.png"/>
                </div>
                <div class="col-11 tiny-text-nany text-center m-2 mt-1">
                  <p>ACT Action, Collaboration, Transformation</p>
                </div>
              </div>
              <div class="row col-4">
                <div class="image-box col-11 d-flex justify-content-center align-items-md-center m-2">
                  <img src="https://dq06ugkuram52.cloudfront.net/files/3763173/15057247-medium.png"/>
                </div>
                <div class="col-11 tiny-text-nany text-center m-2 mt-1">
                  <p>ShareAction</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item mt-4 mb-4">
        <div class="row justify-content-center">
          <div class="col-9">
            <div class="row justify-content-center">
              <div class="row col-4">
                <div class="image-box col-11 d-flex justify-content-center align-items-md-center m-2">
                  <img src="https://dq06ugkuram52.cloudfront.net/files/8126858/26084088-medium.png"/>
                </div>
                <div class="col-11 tiny-text-nany text-center m-2 mt-1">
                  <p>SastainoMetric</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--  Controls (Left and right) -->
    <a class="carousel-control-prev mt-4 mr-4" role="button" data-slide="prev" href="#partners-logos">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next mt-4 mr-4" role="button" data-slide="next" href="#partners-logos">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<div class="wikirate-box wikirate-container d-block d-md-none">
  <p class="mini-title text-center mb-5">
    Analysis made possible by data and metrics from the following organizations:
  </p>
  <div id="partners-logos-small-screen" class="carousel slide" data-ride="carousel">
    <!-- The slides to show -->
    <div class="carousel-inner-logos">
      <div class="carousel-item mt-4 mb-4" *ngFor="let contributor of contributors let i = index"
           [ngClass]="{'active': i == 0}">
        <div class="row justify-content-center">
          <div class="col-9">
            <div class="row justify-content-center">
              <div class="col-9">
                <div class="col-11 d-flex justify-content-center align-items-md-center m-2">
                  <img class="image-box-small-screen" src="{{contributor.logo}}"/>
                </div>
                <div class="col-11 tiny-text-nany text-center m-2 mt-3">
                  <p>{{contributor.contributor}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--  Controls (Left and right) -->
    <a class="carousel-control-prev mt-4 mr-4" role="button" data-slide="prev" href="#partners-logos-small-screen">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next mt-4 mr-4" role="button" data-slide="next" href="#partners-logos-small-screen">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

