<div class="wikirate-creme-tile-box">
  <div class="container align-content-center">
    <div class="row justify-content-md-center">
      <div class="mini-title mb-2 col-8 text-left">Create your own powerful data ecosystem that paints a picture</div>
      <div class="mini-text col-8 text-left">
        <p>
          Access to reliable and well-presented companies' ESG data or supply chain information is essential for those
          interested in improving the world, but often it's not available or too expensive. Even if we have the data, it
          can be hard to identify the signal among the noise or know where to focus our attention.
        </p>
        <p>
          We made apparel top 100 to show Wikirate.org's potential to use data to create a sector snapshot that is
          valuable to multiple audiences. WikiRate can co-create your open data ecosystem that makes clear important
          information with visualizations and analyses. With this, we can see how companies' operations help or harm the
          world.
        </p>
        <p>We are a community-driven platform; without the community, Apparel Top 100 would not be possible.</p>
        <p>
          With their support for this project, we've collected [15k] data points for [174] metrics.
        </p>
      </div>
    </div>
  </div>
  <hr>
</div>
<p class="mini-title text-center mt-4">
  The project in numbers:
</p>
<div class="row mt-4">
  <div class="col-4 text-center mb-4">
    <div class="primary-info">15K</div>
    <div class="secondary-info">DATA POINTS</div>
  </div>
  <div class="col-4 text-center">
    <div class="primary-info">174</div>
    <div class="secondary-info">METRICS</div>
  </div>
  <div class="col-4 text-center">
    <div class="primary-info">15K</div>
    <div class="secondary-info">CORPORATE RELATIONSHIPS</div>
  </div>
</div>
<hr>
<p class="mini-title text-center mt-4">
  Our community in numbers:
</p>
<div class="row mt-4">
  <div class="col-4 text-center mb-4">
    <div class="primary-info">500</div>
    <div class="secondary-info">RESEARCHERS, STUDENTS, VOLUNTEERS</div>
  </div>
  <div class="col-4 text-center">
    <div class="primary-info">10</div>
    <div class="secondary-info">UNIVERSITIES</div>
  </div>
  <div class="col-4 text-center">
    <div class="primary-info">24</div>
    <div class="secondary-info">NGOs</div>
  </div>
  <hr>
</div>

<div class="wikirate-creme-purple-box">
  <div class="container">
    <div class="row">
      <div class="col-6 mb-5 pr-5">
        <div class="showcase-title mt-5 mb-2">Find out how we can co-create your open data ecosystem that paints a
          picture.
        </div>
        <div class="showcase-main-text">
          <p>We’ve co-created and powered similar analyses for Fashion Revolution and Clean Clothes Campaign. If your
            organization has an idea for an open data ecosystem, then contact us to:</p>
          <p><i class="ml-3 mr-3 bi bi-check"></i>Discover more about our ratings and metrics</p>
          <p><i class="ml-3 mr-3 bi bi-check"></i>Learn how we can help you create a similar website or analyses</p>
          <p><i class="ml-3 mr-3 bi bi-check"></i>See our platform in action</p>
        </div>
        <button class="btn btn-showcase mt-4 btn-lg">Learn more<i class="bi bi-arrow-right ml-2"></i></button>

      </div>
      <div class="col-6 mb-5 pl-5">
        <div class="showcase-title mt-5 mb-2">Become a WikiRate community member and start contributing.
        </div>
        <div class="showcase-main-text">
          <p>WikiRate members vary from student research groups to NGOs. You don’t need to be part of a group though;
            you can sign up and start adding data points that interest you.</p>
          <p><i class="ml-3 mr-3 bi bi-check"></i>Join a growing community</p>
          <p><i class="ml-3 mr-3 bi bi-check"></i>Contribute company data to fill data gaps</p>
          <p><i class="ml-3 mr-3 bi bi-check"></i>Put the data into action</p>
          <p><i class="ml-3 mr-3 bi bi-check"></i>Build your own research project</p>
        </div>
        <button class="btn btn-showcase mt-4 btn-lg">Start Contributing<i class="bi bi-arrow-right ml-2"></i></button>
      </div>
    </div>
  </div>
</div>
<div class="wikirate-box">
  <div class="container align-content-center">
    <div class="row mb-2">
      <div class="col mt-4">
        <div class="showcase-title mb-4">How we transform data into your open data ecosystems</div>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-md-6"></div>
      <div class="col-md-6">
        <div class="row">
          <div class="showcase-circle-purple d-block rounded-circle p-3 bg-white shadow-lg">
            <h2 class="text-center text-white font-weight-bold">01</h2>
          </div>
          <div class="col ml-3">
            <h5 class="font-weight-bold">Scoping</h5>
            <p class="showcase-main-text">We look for exciting research topics to analyze and partners to
              work with.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-md-6">
        <div class="row">
          <div class="showcase-circle-purple d-block rounded-circle p-3 bg-white shadow-lg">
            <h2 class="text-center text-white font-weight-bold">02</h2>
          </div>
          <div class="col ml-3">
            <h5 class="font-weight-bold">Mapping to WikiRate</h5>
            <p class="showcase-main-text">Together with partners, we map their research methodologies to
              the WikiRate
              platform and system, laying the foundation for opening up and scaling research.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-md-6">
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="showcase-circle-orange d-block rounded-circle p-3 bg-white shadow-lg">
            <h2 class="text-center text-white font-weight-bold">03</h2>
          </div>
          <div class="col ml-3">
            <h5 class="font-weight-bold">Data Aggregation</h5>
            <p class="showcase-main-text">Our NGO and university partners work alongside volunteers and
              students to find
              and add new data.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-md-6">
        <div class="row mt-2">
          <div class="showcase-circle-orange d-block rounded-circle p-3 bg-white shadow-lg">
            <h2 class="text-center text-white font-weight-bold">04</h2>
          </div>
          <div class="col ml-3">
            <h5 class="font-weight-bold">Data Polishing</h5>
            <p class="showcase-main-text">We review the data and metrics for quality and consistency.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-md-6">
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="showcase-circle-purple d-block rounded-circle p-3 bg-white shadow-lg">
            <h2 class="text-center text-white font-weight-bold">05</h2>
          </div>
          <div class="col ml-3">
            <h5 class="font-weight-bold">Insights Presented</h5>
            <p class="showcase-main-tex">We create insights that help partners and companies assess
              current disclosure
              performance and identify where more disclosure is needed.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-md-6">
        <div class="row">
          <div class="showcase-circle-purple d-block rounded-circle p-3 bg-white shadow-lg">
            <h2 class="text-center text-white font-weight-bold">06</h2>
          </div>
          <div class="col ml-3">
            <h5 class="font-weight-bold">Scaling and Replication</h5>
            <p class="showcase-main-text">With the data and methodology stored on the WikiRate platform,
              the research
              can
              be
              scaled and reanalyzed for richer results.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
      </div>
    </div>
  </div>
  <br>
</div>
<!--<div class="wikirate-creme-tile-box">-->
<!--  <div class="container">-->
<!--    <div class="row mb-5">-->
<!--      <div class="col-12">-->
<!--        <div class="mini-title mt-5 mb-2">About the process</div>-->
<!--        <div class="mini-text">-->
<!--          This is the story of how we got to the Apparel 100 data set & analysis. It provides an example of how scaled-->
<!--          collaborative research can create a data ecosytem for corporate stakeholders to make sense of sustainability-->
<!--          performance.-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="row mt-4">-->
<!--      <div class="col-4 text-center mb-4">-->
<!--        <div class="primary-info">500</div>-->
<!--        <div class="secondary-info">RESEARCHERS, STUDENTS, VOLUNTEERS</div>-->
<!--      </div>-->
<!--      <div class="col-4 text-center">-->
<!--        <div class="primary-info">10</div>-->
<!--        <div class="secondary-info">UNIVERSITIES</div>-->
<!--      </div>-->
<!--      <div class="col-4 text-center">-->
<!--        <div class="primary-info">24</div>-->
<!--        <div class="secondary-info">NGOs</div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<div class="wikirate-creme-tile-box">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12">
        <div class="mini-title mt-5 mb-2">With our committed community we can create your open data ecosystem</div>
      </div>
    </div>
  </div>
</div>
<div class="wikirate-box">
  <div class="container">
    <div id="bootstrapCarousel" class="carousel slide" data-ride="carousel" #carousel>
      <!-- Slide Indicators -->
      <ul class="carousel-indicators">
        <li data-target="#bootstrapCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#bootstrapCarousel" data-slide-to="1"></li>
        <li data-target="#bootstrapCarousel" data-slide-to="2"></li>
      </ul>
      <!-- The slides to show -->
      <div class="carousel-inner">
        <div class="carousel-item mt-4 mb-4" [class.active]="currentIndex === 1" [class.slide]="currentIndex === 2">
          <div class="row justify-content-md-center">
            <div class="col-9">
              <div class="row">
                <div class="image-box col-3 d-flex justify-content-center align-items-md-center">
                  <img src="https://dq06ugkuram52.cloudfront.net/files/564260/12604027-medium.png"/>
                </div>
                <div class="col-9 ">
                  <div class="showcase-main-text">“With more and more civil society organizations seeing the
                    value
                    of
                    using an open, structured data system for housing their research, we’ve been able to connect to
                    the
                    Fashion Transparency Index and use their company surveys rather than duplicating their work...”
                  </div>
                  <div class="note mt-3">
                    <b>
                      Emily Jørgensen
                    </b>
                  </div>
                  <div class="note">Clean Clothes Campaign</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item mt-4 mb-4" [class.active]="currentIndex === 2" [class.slide]="currentIndex === 2">
          <div class="row justify-content-md-center">
            <div class="col-9">
              <div class="row">
                <div class="image-box col-3 d-flex justify-content-center align-items-md-center">
                  <img src="https://dq06ugkuram52.cloudfront.net/files/564260/12604027-medium.png"/>
                </div>
                <div class="col-9 ">
                  <div class="showcase-main-text">“With more and more civil society organizations seeing the
                    value
                    of
                    using an open, structured data system for housing their research, we’ve been able to connect to
                    the
                    Fashion Transparency Index and use their company surveys rather than duplicating their work...”
                  </div>
                  <div class="note mt-3">
                    <b>
                      Vas Gat
                    </b>
                  </div>
                  <div class="note">Clean Clothes Campaign</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img
            src="https://images.unsplash.com/photo-1469474968028-56623f02e42e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1053&q=80"
            width="1100" height="500">
        </div>
      </div>
      <!--  Controls (Left and right) -->
      <a class="carousel-control-prev mt-4 mr-4" (click)="prev()" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next mt-4 mr-4" (click)="next()" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>
  </div>
</div>
