.intro{
  min-height: 450px;
  display: flex;
  align-items: center;
}

h1.showcase-main-title {
  font-style: normal;
  font-weight: normal !important;
  font-size: 2.6rem;
  line-height: 135%;
  color: #484c9d;
  max-width: 600px;
}

.main-text {
  font-style: normal;
  font-weight: normal;
  font-size: 1.25rem;
  color: #34343b;
  line-height: 155%;
  margin-bottom: 30px;
  max-width: 600px;
}

.corporate-logo-xl {
  height: 5.25rem;
  width: 5.25rem;
  position: relative;
}

.corporate-logo-sm {
  height: 4.25rem;
  width: 4.25rem;
  position: relative;
}

.logo-1 {
  position: absolute;
  left: 85%;
  right: 15%;
  top: 7em;
}

.logo-2 {
  position: absolute;
  left: 65%;
  right: 35%;
  top: 17em;
}

.logo-3 {
  position: absolute;
  left: 93%;
  right: 7%;
  top: 23em;
}

.logo-4 {
  position: absolute;
  left: 80%;
  right: 20%;
  top: 30em;
}

.logo-5 {
  position: absolute;
  left: 64%;
  right: 36%;
  top: 39em;
}

a.scroll{
  color: #F7733D;
  cursor: pointer;
  text-decoration: inherit;
}
