#network_graph {
  height: 600px;
  margin: 1em;
}

.secondary-title{
  font-family: IBMPlexSans;
  font-style: normal;
  font-weight: 400!important;
  font-size: 1.75rem;
  color: #1D1E3F;
  line-height: 135%;
}
