/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

@media (max-width: 576px) {
  html {
    font-size: 14px;
  }
}

body {
  line-height: 1.55;
  font-size: 1rem;
  color: #34343B;
}

@font-face {
  font-family: "IBMPlexSans";
  src: local("IBMPlexSans-Regular"), url(./assets/fonts/IBMPlexSans-Regular.ttf) format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "IBMPlexSans";
  src: local("IBMPlexSans-Thin"), url(./assets/fonts/IBMPlexSans-Thin.ttf) format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: "IBMPlexSans";
  src: local("IBMPlexSans-Thin"), url(./assets/fonts/IBMPlexSans-ThinItalic.ttf) format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "IBMPlexSans";
  src: local("IBMPlexSans-Thin"), url(./assets/fonts/IBMPlexSans-ExtraLight.ttf) format("truetype");
  font-weight: 200;
}

@font-face {
  font-family: "IBMPlexSans";
  src: local("IBMPlexSans-Light"), url(./assets/fonts/IBMPlexSans-Light.ttf) format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "IBMPlexSans";
  src: local("IBMPlexSans-LightItalic"), url(./assets/fonts/IBMPlexSans-LightItalic.ttf) format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "IBMPlexSans";
  src: local("IBMPlexSans-Italic"), url(./assets/fonts/IBMPlexSans-Italic.ttf) format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "IBMPlexSans";
  src: local("IBMPlexSans-Medium"), url(./assets/fonts/IBMPlexSans-Medium.ttf) format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "IBMPlexSans";
  src: local("IBMPlexSans-MediumItalic"), url(./assets/fonts/IBMPlexSans-MediumItalic.ttf) format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "IBMPlexSans";
  src: local("IBMPlexSans-SemiBold"), url(./assets/fonts/IBMPlexSans-SemiBold.ttf) format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "IBMPlexSans";
  src: local("IBMPlexSans-SemiBoldItalic"), url(./assets/fonts/IBMPlexSans-SemiBoldItalic.ttf) format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "IBMPlexSans";
  src: local("IBMPlexSans-Bold"), url(./assets/fonts/IBMPlexSans-Bold.ttf) format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "IBMPlexSans";
  src: local("IBMPlexSans-BoldItalic"), url(./assets/fonts/IBMPlexSans-BoldItalic.ttf) format("truetype");
  font-weight: 700;
  font-style: italic;
}

* {
  font-family: IBMPlexSans;
}

@import "~bootstrap";
/* ------- customize primary buttons -------- */
$showcasecolor: #484C9D;
$navyblue: #1D1E3F;
$highlightcolor: #F7733D;


.btn-showcase {
  @include button-variant($showcasecolor, $showcasecolor, $navyblue, lighten($showcasecolor, 5%), lighten($showcasecolor, 10%), darken(#fff, 15%));
  letter-spacing: 0.3px !important;
  border-radius: 5px !important;
}

.btn-highlight {
  @include button-variant($highlightcolor, $highlightcolor, #912E06, lighten($highlightcolor, 5%), lighten($highlightcolor, 10%), darken(#fff, 15%));
  letter-spacing: 0.3px !important;
  border-radius: 5px !important;
}

.btn-lg {
  padding: 0.8rem 2rem;
  font-size: 1.25rem;
  line-height: 1.6;
  border-radius: 0.3rem;
}

.btn-outline-dark {
  @include button-outline-variant($showcasecolor, #fff, lighten($showcasecolor, 5%), $showcasecolor);
}

.btn-default {
  outline: none !important;
}

.link-primary {
  color: $showcasecolor !important;
}

::placeholder {
  color: #A3A5CE !important;
}

.form-select:focus {
  border-color: $navyblue;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px $navyblue;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px $navyblue;
}

.form-control:focus {
  border-color: $navyblue;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px $navyblue;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px $navyblue;
}

.highlight {
  border-color: $navyblue;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px $navyblue;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px $navyblue;
}

.highlight-orange {
  color: $highlightcolor;
}

.wikirate-creme-box {
  background-color: #F7F7F8;
}

.wikirate-creme-purple-box {
  background-color: #EDEEF7;
}

.wikirate-purple-box {
  background-color: #8285C6;
}

.wikirate-navy-box {
  background-color: $navyblue;
}

.wikirate-creme-tile-box {
  background-color: #E3F7F4;
}

.wikirate-gradient-showcase-box {
  background: linear-gradient(45deg, rgba(72, 76, 157, 0.5) 0%, rgba(9, 171, 144, 0.5) 25%, rgba(227, 247, 244, 0.5) 100%);
}

.wikirate-container {
  @extend .container;
  padding: 4em 3em !important;
  min-height: 10em !important;
}

a.highlight-link {
  color: $highlightcolor;
}

a.highlight-link:active {
  color: $highlightcolor;
}

/* mouse over link */
a.highlighted-link:hover {
  color: darken($highlightcolor, 10%);
}

a.showcase-link {
  color: $showcasecolor;
}

a.showcase-link:active {
  color: $showcasecolor;
}

/* mouse over link */
a.showcase-link:hover {
  color: $navyblue;
}

.footer-container {
  @extend .container;
  padding-top: 0.5em !important;
  padding-bottom: 0.5em !important;
  min-height: auto;
}

.vertical-center {
  display: flex;
  align-items: center;
}

.mini-title {
  text-transform: uppercase;
  font-family: IBMPlexSans;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  color: rgba(61, 62, 70, 0.85);
  line-height: 135%;
}

.mini-text {
  font-family: IBMPlexSans;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  color: #34343B;
  line-height: 160%;
}

h2.showcase-title {
  font-family: IBMPlexSans;
  font-style: normal;
  font-weight: 400 !important;
  font-size: 1.75rem;
  color: #1D1E3F;
  line-height: 135%;
}

h2.showcase-title-white {
  font-family: IBMPlexSans;
  font-style: normal;
  font-weight: 400 !important;
  font-size: 1.75rem;
  color: #fff;
  line-height: 135%;
}

h3.showcase-subtitle {
  font-family: IBMPlexSans;
  font-style: normal;
  font-weight: 400 !important;
  font-size: 1rem;
  color: #1D1E3F;
  font-weight: 400 !important;
  line-height: 135%;
}

h3.showcase-subtitle-white {
  font-family: IBMPlexSans;
  font-style: normal;
  font-weight: 400 !important;
  font-size: 1rem;
  color: #F7F7F8;
  font-weight: 400 !important;
  line-height: 135%;
}

.logo-img {
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: .5rem;
  vertical-align: middle;
}

.secondary-title {
  font-family: IBMPlexSans;
  font-style: normal;
  font-weight: 400 !important;
  font-size: 1.4rem;
  color: #1D1E3F;
  line-height: 135%;
}

.call-to-action-title {
  font-weight: 600 !important;
}

.map-title {
  font-family: IBMPlexSans;
  font-style: normal;
  font-weight: 500 !important;
  font-size: 1.75rem;
  color: #1D1E3F;
}

.showcase-main-text {
  font-family: IBMPlexSans;
  font-style: normal;
  font-weight: normal;
  line-height: 160%;
  color: #34343B;
  line-height: 160%;
}

.showcase-main-text-white {
  font-family: IBMPlexSans;
  font-style: normal;
  font-weight: normal;
  line-height: 160%;
  color: #F7F7F8;
}

.btn-circle {
  width: 40px;
  height: 40px;
  text-align: center;
  font-weight: bolder;
  padding: 5px 0;
  font-size: 16px;
  border-radius: 20px !important;
}

.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px !important;
}

.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}

.btn-search {
  @extend .btn;
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

.note {
  font-family: IBMPlexSans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 160%;
  color: #747485;
}

.title {
  font-weight: 600 !important;
  letter-spacing: 0.3px !important;
  text-align: left !important;
  color: #1D1E3F !important;
}

.navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.3em;
  line-height: inherit;
  white-space: nowrap;
}

.navbar-light .navbar-nav .nav-link {
  color: #fff;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: $highlightcolor;
}

.form-control {
  max-width: 100%;
  color: $navyblue;
  border: 1px solid $navyblue;
  border-radius: 5px;
}

.form-control-navy {
  @extend .form-control;
  max-width: 100%;
  background-color: $navyblue;
  border: 1px solid white;
  color: white;
  border-radius: 5px;
}

.form-control-navy > option {
  background-color: $navyblue;
  color: white;
}

.showcase-note {
  font-family: IBMPlexSans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 160%;
  color: $showcasecolor;
}

select#inputYear {
  width: 90px;
}

select#inputCompany {
  width: 140px;
}

.logo {
  width: 140px;
  height: 42.7px;
}

.primary-info {
  font-family: IBMPlexSans;
  font-style: normal;
  font-weight: 600;
  font-size: 1.75rem;
  text-align: center;
  letter-spacing: -1px;
  color: $highlightcolor;
  //color: #484C9D;
}

.primary-info-navy {
  font-family: IBMPlexSans;
  font-style: normal;
  font-weight: 600;
  font-size: 1.75rem;
  text-align: center;
  letter-spacing: -1px;
  color: #484C9D;
}

.secondary-info {
  font-family: IBMPlexSans;
  font-style: normal;
  font-weight: normal;
  line-height: 160%;
  text-align: center;
  color: #F7F7F8;
  //color: #1D1E3F;
  text-transform: uppercase;
}

.secondary-info-navy {
  font-family: IBMPlexSans;
  font-style: normal;
  font-weight: normal;
  line-height: 160%;
  text-align: center;
  color: #1D1E3F;
  text-transform: uppercase;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23171832' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23171832' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

//.carousel-inner{
//  height: 250px !important;
//}

.bg-navy {
  background-color: $navyblue !important
}

.carousel-inner-logos {
  @extend .carousel-inner;
}

.nopadding {
  padding: 0 !important;
}

.nomargin {
  margin: 0 !important;
}

.chart-wrapper svg {
  max-width: 100%;
  height: auto;
}

.chart-container {
  text-align: center;
}


.vega-bindings span {
  margin: 0.5rem;
}

.vega-bindings input {
  margin-top: 1.7rem;
  margin-bottom: 0;
}

.vega-bindings {
  text-align: center;
}

.year-filter {
  padding: 0;
}

.company-filter {
  padding: 0;
}

.tiny-text {
  font-size: 11px;
  color: #747485;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.tiny-text-nany {
  font-size: 11px;
  color: $navyblue;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.highlight-text {
  font-weight: 600;
}
